@import '../../../custom.scss';

.MarketplaceCategoryBrandPage {
  .card {
    color: $default-text-color;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;

    .product-col {
      margin-bottom: 50px;

      .product-image {
        $image-size: 100px;

        width: $image-size;
        height: $image-size;
        border-radius: $image-size / 2;
      }

      .product-name {
        font-size: 14px;
      }

      .buy-button {
        padding: 0;
        font-weight: 300;
        height: 30px;

        .button-text {
          position: relative;
          top: -3px;
        }
      }
    }
  }
}
