@import '../../../../custom.scss';

.App {
  .IDdocsTable {
    .hard-border {
      border-bottom: 2px solid #bdbebe;
    }

    tr.primary-border td {
      border-bottom: 1px solid $faded-primary-color;
    }

    td {
      font-size: 12px;
      padding: 0.4em 0.3em;
      vertical-align: middle;
    }

    p {
      font-size: 18px;
    }

    .delete {
      color: #ff4545;
    }

    svg {
      width: 20px;
      height: 20px;
    }

    button {
      font-size: 10px;
      display: block;
    }
  }
}
