@import '../../../../custom.scss';

.ChangePasswordForm {
  label {
    display: block;
    font-weight: 300;
    font-size: 12px;
  }

  input {
    color: $primary-color;
    font-size: 16px;
  }

  .error-message {
    font-size: 10px;
  }
}
