.CameraComponent {
  .back-btn-container {
    padding-top: 30px;
  }

  .top-container {
    padding-top: 30px;
  }

  .title {
    text-align: center;
    font-size: 16px;
    color: white;
  }

  .sub-title {
    text-align: center;
    font-size: 16px;
    color: white;
  }

  .btn-container {
    padding-top: 40px;
  }

  button.btn {
    color: white;
  }

  .video-container {
    padding-top: 10px;
    max-width: 400px;
    padding-bottom: 10px;

    video.mirror {
      transform: rotateY(180deg);
    }
  }

  video.mx-auto {
    border-radius: 10px;
  }
}
