@import '../../../custom.scss';

.MarketplacePurchasePage {
  .breadcrumb {
    border: 1px solid $default-text-color !important;

    .breadcrumb-item a {
      color: $default-text-color !important;
    }

    .breadcrumb-item + .breadcrumb-item::before {
      color: $default-text-color !important;
    }
  }

  .product-image {
    width: 100%;
  }

  .description-title {
    font-size: 16px;
    font-weight: 700;
  }

  .product-description {
    font-size: 14px;
    font-weight: 300;
  }

  .buy-button {
    font-weight: 500;
    font-size: 18px;
  }
}
