@import '../../../custom.scss';

.IdFront {
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-top: 110px;
  margin-top: -77px;
  min-height: 100vh;

  .card {
    min-height: 635px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;

    .card-body {
      width: 100%;
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  .card-title {
    font-size: 18px;
  }

  .card-subtitle {
    font-size: 18px;
    padding-bottom: 10px;
  }

  .icon-container {
    background-color: #ece6ff;
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    border-radius: 35px;
  }

  .id-card {
    color: $primary-color;
  }

  .points-container {
    padding-bottom: 70px;
  }

  .point-container {
    padding-top: 30px;
  }

  .point-title {
    font-size: 18px;
    font-weight: 800;
  }

  .point-subtitle {
    font-size: 18px;
    font-weight: 300;
  }

  .btn {
    border-radius: 35px;
  }
}
