@font-face {
  font-family: Helvetica Neue;
  src: url(assets/fonts/HelveticaNeue.ttc);
}

@font-face {
  font-family: Monument Extended;
  font-weight: 300;
  src: url(assets/fonts/MonumentExtended-Light.otf);
}

@font-face {
  font-family: Monument Extended;
  font-weight: 500;
  src: url(assets/fonts/MonumentExtended-Regular.otf);
}

@font-face {
  font-family: Monument Extende;
  font-weight: 700;
  src: url(assets/fonts/MonumentExtended-Black.otf);
}

@font-face {
  font-family: Bukra;
  font-weight: 100;
  src: url(assets/fonts/29LTBukraWide-Thin.otf);
}

@font-face {
  font-family: Bukra;
  font-weight: 300;
  src: url(assets/fonts/29LTBukraWide-Light.otf);
}

@font-face {
  font-family: Bukra;
  font-weight: 500;
  src: url(assets/fonts/29LTBukraWide-Medium.otf);
}

@font-face {
  font-family: Bukra;
  font-weight: 700;
  src: url(assets/fonts/29LTBukraWide-Bold.otf);
}

@font-face {
  font-family: Bukra;
  font-weight: 900;
  src: url(assets/fonts/29LTBukraWide-Black.otf);
}

@font-face {
  font-family: DIN Next;
  font-weight: 100;
  src: url('assets/fonts/DIN Next LT W23 Ultra Light.otf');
}

@font-face {
  font-family: DIN Next;
  font-weight: 300;
  src: url(assets/fonts/DINNextLTArabic-Light.ttf);
}

@font-face {
  font-family: DIN Next;
  font-weight: 500;
  src: url(assets/fonts/DINNextLTArabic-Regular.ttf);
}

@font-face {
  font-family: DIN Next;
  font-weight: 700;
  src: url('assets/fonts/DIN Next LT W23 Medium.otf');
}

@font-face {
  font-family: DIN Next;
  font-weight: 900;
  src: url(assets/fonts/DINNextLTArabic-Bold.ttf);
}

@font-face {
  font-family: DIN Next;
  font-weight: 1100;
  src: url('assets/fonts/DIN Next LT W23 Black.otf');
}
