@import '../../../custom.scss';

.NewPaymentMethodPage {
  .title {
    font-size: 18px;
    text-align: start;
  }
  .input-form {
    text-align: start;
    padding: 20pt;
    width: 100%;
    font-family: $arabic-font-family;
    font-weight: 300;

    .dropdown {
      font-family: $arabic-secondary-font-family;
      font-weight: 500;
      text-align: start;
    }
    .dropdown:selected {
      background-color: $faded-primary-color;
    }

    .dropdown.btn.btn-primary {
      color: $grey-text-color;
    }
    input {
      font-family: $arabic-secondary-font-family;
      font-weight: 300;
    }
  }
  .button-add {
    margin-top: 20pt;
    width: 100%;
    font-family: $arabic-font-family;
    font-weight: 500;
  }
}
